// CONVERT .SCSS FILE
section {
  width: 100%;
  //   border: 2px solid red;
}

.deatils_tiktok_video {
  // height: 260px;
  width: 90%;

  display: grid;
  grid-template-columns: 20% 20% 30% 33%;
  grid-gap: 10px 10px;
  padding: 10px;
}

.deatils_box {
  background: linear-gradient(to left, #1c172e 0%, #ff0066 89%);
  border-radius: 5px;
}

// LOGO DIV
.logo_zone {
  background: linear-gradient(to left, #1c172e 0%, #ff0066 89%);
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.logo_account {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  //   border: 1px solid white;
  // background-color: white;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

// ACCOUNT USERNAME AND KEYOWRDS VIDEO
.account_user_and_keywords {
  background: linear-gradient(to left, #1c172e 0%, #ff0066 89%);
  border-top-right-radius: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px 30px;
  padding: 10px;
}

.username_account {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

// DOWNLOAD BTNS SECTION

.download_btns {
  background: linear-gradient(to left, #1c172e 0%, #ff0066 89%);
  border-radius: 20px;
  border-top-right-radius: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px 10px;
  padding: 10px;
}

.download_deatils {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perview_img {
  background: linear-gradient(to left, #1c172e 0%, #ff0066 89%);

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}

.download_button {
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: #1c172e;
  padding: 20px;
  width: 260px;
  //   height: 200px;
}

.back_formore {
  width: 150px;
  background: linear-gradient(to left, #1c172e 0%, #ff0066 89%);
  color: white;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  height: 40px;
}

@media only screen and (max-width: 1200px) {
  .deatils_tiktok_video {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px 10px;
    padding: 10px;
  }

  .account_user_and_keywords {
    height: 250px;
  }

  .download_btns {
    height: 250px;
    order: -1;
  }
}
