// .SCSS CONTACT

.form_container {
  width: 70%;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  //   border: 2px solid red;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.form_zone {
  // height: 350px;
  color: white;
  background-color: #191919;
  border-radius: 5px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  gap: 20px;
}

.contact_headline {
  // border-bottom: 2px solid #ff2d55;
  //   border-radius: 5px;

  h1 {
    color: #191919;
    font-size: 25px;
    text-align: center;
  }
}

.form_grp_email {
  // border: 1px solid red;
  display: flex;
}

.form_grp_email input {
  // width: 310px;
}

.form_grp_name {
  display: flex;
  align-items: center;
}

.form_grp_name input {
  // width: 300px;
}

.user_icon {
  font-size: 40px;
  margin-right: 20px;
}

.addres_icon {
  font-size: 40px;
  margin-right: 20px;
}

.form_grp_message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pen_icon {
  font-size: 40px;
  margin-right: 20px;
}

.captcha {
  // height: 100px;
  border: 1px solid white;
  background-color: #191919;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 10px;
  padding: 10px;
}

.captcha_place {
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px 5px;
  padding: 10px;
}

.captcha_elements {
  background-color: #191919;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;

  input {
    border: none;
    font-size: 20px;
  }

  button {
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
  }
}

input::placeholder {
  font-size: 20px;
}

input {
  color: white;
}

.submit_btn {
  // background-color: white;
  display: flex;
  background-color: #191919;
  align-items: center;
  justify-content: center;

  input {
    width: 140px;
    color: white;
    border: none;
    // background-color: #191919;
    border-radius: 5px;
    height: 40px;
    font-size: 24px;
  }
}

.text_area {
  // width: 300px;
  padding: 10px;
  background-color: transparent;
  // border: 2px solid #ff2d55;
  height: 100px;
  border-radius: 10px;
}

textarea::placeholder {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .form_container {
    width: 100%;
    p {
      font-size: 15px;
      text-align: center;
    }
  }

  .captcha {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px 10px;
    padding: 10px;
  }
}
